body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background: url("https://images.unsplash.com/photo-1456154875099-97a3a56074d3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80");
  overflow: hidden;
}
h2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 2rem;
  text-align: center;
  color: antiquewhite;
  text-shadow: 3px 3px 5px rgb(233, 246, 231);
}
.clock {
  display: flex;
}
.clock div {
  margin: 0px 5px;
  position: relative;

}
.clock span {
  width: 120px;
  height: 133px;
  background-color: rgba(72, 72, 74, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: bisque;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.clock .text{
    margin:0px;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 30px;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: .8;
    color: white;
    background-color: rgb(45, 45, 46)    ;
}
.clock #ampm{
    bottom: 0px;
    position: absolute;
    width: 60px;
    height: 55px;
    font-size: 15px;
    background-color: green;
}
